/* 

Is this code readable? no
Does it work? barely
Am I going to make it better? god no

to whoever wants to clean this up good luck

*/

html,
body {
  background-image: url('https://media.istockphoto.com/id/1221025677/photo/abstract-blue-background-minimal-geometric-background-for-use-in-design.jpg?s=612x612&w=0&k=20&c=anpqkv5H6BGc190yQU0riwViQIUcNUQjhLLMRpbFOEE=');
  background-size: cover;
  margin: 0;
  padding: 0;
  clear: both;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  background-color: white !important;
  width: 100% !important;
  overflow: hidden !important;
  border-bottom: 5px solid !important;
  border-color: rgb(146, 1, 1) !important;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a img {
  padding: 0px 10px;
}

#navbar a {
  position: relative;
  z-index: 100;
  border-left: 5px solid rgb(168, 0, 0) !important;
  font-size: 17px;
  float: right !important;
  color: black !important;
  text-decoration: none !important;
  font-weight: bold !important;
  padding-left: 10px !important;
  margin: 20px 0px !important;
  transform: translateY(100%) !important;
}

#navbar a:last-child {
  padding-right: 50px;
}

#navbar a:hover {
  color: rgb(1, 1, 95);
}

#navbar img,
#navbar h3 {
  float: left;
}

#navbar img {
  padding: 10px 30px;
}

#navbar h2 {
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  color: rgb(0, 0, 114);
  margin: 0;
  transform: translateY(50%);
}

#navbar h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.788);
}

#title {
  font-size: 60px;
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
  background-color: maroon;
  border: 2px solid maroon;
  width: 25%;
}

.subheader {
  font-size: 30px;
  margin: 10px 0px;
  text-align: center;
}

#container {
  display: flex;
  justify-content: space-between;
}

section {
  border-radius: 10px;
  margin: 5px;
  padding: 30px;
}

section:not(#container) {
  margin: 15px;
}

#main-section {
  background-color: white;
  width: 65%;
}

#events-section {
  background-color: white;
  width: 35%;
}

#welcome-info p {
  margin: 5%;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

#links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sociallist {
  margin: auto;
}

.sociallist li {
  display: inline-block;
  vertical-align: top;
}

.sociallist img {
  margin: 5px;
  width: 4rem;
}

#twitter {
  border-radius: 25%;
}

.mini-header {
  font-size: 25px;
  margin: 20px 0;
}

.link-holder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(231, 231, 231);
  width: 275px;
  height: 250px;
  margin: 5%;
}

.header {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-align: center;
}

.event {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-height: 60px;
  margin: 25px 0px;
  border-radius: 10px;
  background-color: lightgray;
  transition: all 0.4s ease-in-out;
}

.event:hover {
  height: auto;
  max-height: 250px;
}


.eventdesc {
  overflow: hidden;
  left: 0;
  width: 90%;
  margin: auto;
  line-height: 20px;
  box-sizing:border-box;
}

.event h3,
.event h2 {
  float: left;
  margin-left: 15px;
}

.event h3 {
  border-left: 5px solid maroon;
  padding-left: 10px;
}
